body{
  background-color: #badbe4;
  font-family: 'Jost', Arial, sans-serif;

}

.jumbotron{
  background-color: #badbe4;

}
.navbar{
  font-size: 24px;
  }

.small-only{
  display: none;
}

.skyline{
  max-width: 100%;
  position: relative;
  left: 0px;
}

.biopic{
  filter: grayscale(100%);
}

.half-size{
  width: 50%;
  position: relative;
  left: 25%;
}
h2, h4{
  color: white;
  background-color: #8f97ba;
  text-align: center;
  border-radius: 12px;
  clear: both;

}

.content{
  width: 75%;
  border-radius: 12px;
  background-color: #8f97ba;
  font-size: 24px;
  line-height: 1.2em;
  color: white;
  position: absolute;
  left: 10%;
  padding-bottom: 50px;


}

.card{
  border-color: #badbe4;
  background-color: #8f97ba;
  margin: 25px;
}

.card-img{
  max-width: 500px;
margin-top: 25%;
}
.card-contrast{
 background-color: #badbe4;
}


footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color:#badbe4;
  text-align: center;
}

.footer-item{
  padding: 50px;
  line-height: 40px;
}

@media (max-width: 992px) {
  .large-only{
    display: none;
  }
}
@media (max-width: 1200px) {


}
